//COLOR PALLETE
$background   : #191a1c;
$bg-lighter   : #f7faff;
$body         : #d7e3f7;
$text-color   : #dde2ed;
$text-lighter : #bcbfc4;

//PADDING AND MARGINS
$padding      : 10px;
$margin       : 20px;

//GENERAL
$font-size    : 13px;
